.center-box {
    height: 300px;
    display: flex;
    background-color: blue;
    align-items: center;
    padding-left: 500px;
}
.center-item {
    width: 100px;
    height: 100px;
    background-color: burlywood;
}
/* coding dojo navbar */
body {
    font-family: 'Montserrat', sans-serif;
}
.header {
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
}
h1 {
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin-left: 25px;
    }

img {
    height: 70px;
    width: 70px
}
#nav-heading {
    display: flex;
    list-style: none;   
}
li a {
    text-decoration: none;
    color: white;
    margin: 30px;
    font-weight: 200;
    font-size: 15px;
}